# metadata
*.egg-info/

# Env file
.env

# Custom bash
.bashrc

# Personal documents
internal/doc/*

# Cache
.mypy_cache/
.ruff_cache/
__pycache__/
.pytest_cache/

# Config file
configs/*.yaml

# Test results
*/results/*
results/

# Experiments
experiments/*